<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found words!</title>
  </head>
  <body>
    <p>
      Found words
          <ul>
            <%= render @words %>
          </ul>
      </p>
    </p>
  </body>
</html>
